@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <p class="navbar-text">Bienvenido @HttpContextAccessor.HttpContext.User.Identity.Name</p>
}
