@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <a asp-controller="Users" asp-action="Details" asp-route-userName="@HttpContextAccessor.HttpContext.User.Identity.Name" class="navbar-brand">Bienvenido @HttpContextAccessor.HttpContext.User.Identity.Name</a>
}
