@model MvcUI.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                @Html.DisplayFor(model => model.UserName)
            </div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerifyPassword" class="control-label"></label>
                <input asp-for="VerifyPassword" class="form-control" />
                <span asp-validation-for="VerifyPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserName" />
                <input type="submit" value="Change" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
